<!DOCTYPE html>
<section class="fundo">
  <div
    class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0"
  >
    <a
      href="#"
      class="flex items-center mb-6 text-2xl font-semibold mygameshub text-gray-300"
    >
      MyGamesHub
    </a>
    <div
      class="w-full rounded-lg shadow border md:mt-0 sm:max-w-md xl:p-0 divs border-gray-700"
    >
      <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
        <h1
          class="text-xl font-bold leading-tight tracking-tight md:text-2xl text-gray-300"
        >
          Crie uma conta
        </h1>
        <form (ngSubmit)="onSubmit()" class="space-y-4 md:space-y-6">
          <div>
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-300"
              >Email</label
            >
            <input
              [(ngModel)]="email"
              required
              type="email"
              name="email"
              id="email"
              class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-gray-300 focus:ring-cyan-500 focus:border-cyan-500"
              placeholder="johndoe@gmail.com"
              required=""
            />
          </div>
          <div>
            <label
              for="name"
              class="block mb-2 text-sm font-medium text-gray-300"
              >Nickname</label
            >
            <input
              [(ngModel)]="name"
              required
              type="text"
              name="name"
              id="name"
              class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-gray-300 focus:ring-cyan-500 focus:border-cyan-500"
              placeholder="John Doe"
              required=""
            />
          </div>
          <div>
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-300"
              >Senha</label
            >
            <input
              [(ngModel)]="password"
              required
              type="password"
              name="password"
              id="password"
              placeholder="••••••••"
              class="border text-sm rounded-lg block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-gray-300 focus:ring-cyan-500 focus:border-cyan-500"
              required=""
            />
          </div>
          <p *ngIf="errorMessage != null" class="text-red-600 pt-2 sm:text-sm">
            {{ errorMessage }}
          </p>
          <button
            type="submit"
            class="w-full text-white font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-cyan-500 hover:bg-cyan-600"
          >
            Criar conta
          </button>
          <p class="text-sm font-light text-gray-400">
            Já tem uma conta?
            <a
              routerLink="/login"
              class="font-medium text-primary-600 hover:underline text-primary-500"
              >Entre aqui</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
