<!DOCTYPE html>

<nav class="w-full border-b border-gray-600 fundo">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-1"
  >
    <a href="#" class="flex items-center space-x-3 rtl:space-x-reverse ps-2">
      <span class="mygameshub" target="_blank">MyGamesHub</span>
    </a>
    <div class="flex items-center justify-center">
      <a
        routerLink="/finalizado"
        class="block py-2 px-3 rounded font_inter font-semibold md:p-0 hover:text-cyan-400 text-white hover:bg-gray-700 hover:bg-transparent border-gray-700"
        aria-current="page"
      >
        Games
      </a>
    </div>
    <div class="flex space-x-3 md:space-x-0 rtl:space-x-reverse">
      <button
        type="button"
        (click)="goToAccount()"
        class="text-white font-medium rounded-lg text-sm px-4 py-2 text-center bg-transparent hover:text-cyan-400 hover:bg-gray-700 hover:bg-transparent"
      >
        {{ user }}
      </button>

      <button
        data-collapse-toggle="navbar-sticky"
        type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg md:hidden focus:outline-none focus:ring-2 text-gray-400 focus:ring-gray-600"
        aria-controls="navbar-sticky"
        aria-expanded="false"
      >
        <span class="sr-only">Abrir menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"
          />
        </svg>
      </button>
    </div>
  </div>
  <div class="hidden md:hidden absolute z-10 divs top-12 w-full pb-4 border border-gray-600" id="navbar-sticky">
    <app-newgame></app-newgame>
  </div>
</nav>
