<!DOCTYPE html>
<figure
  class="relative transition-all duration-300 cursor-pointer filter hover:grayscale-0"
>
  <figcaption
    class="sm:absolute px-4 text-lg text-white w-full mt-2 text-center"
  >
    <h1 class="">Seja Bem-vindo ao MyGamesHub</h1>
    <p class="">
      MyGamesHub é um sistema web projetado para permitir que os usuários
      registrem e acompanhem os jogos que já finalizaram. Com este aplicativo,
      os jogadores podem ter um controle detalhado de suas conquistas,
      registrando informações como data de início, data de término, tempo jogado
      e a plataforma utilizada. MyGamesHub proporciona uma maneira organizada e
      eficiente de acompanhar o progresso e as estatísticas dos jogos
      completados.
    </p>
  </figcaption>
</figure>
