<!DOCTYPE html>
<div class="flex">
  <!-- Lista de Jogos -->
  <div class="md:w-3/4 w-full p-3 overflow-y-auto h-screen">
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4">
      <div
        *ngFor="let game of games | async"
        class="max-w-sm rounded-lg border border-gray-700 bg-gray-800 shadow cursor-pointer"
      >
        <img class="rounded-t-lg w-full" [src]="game.image" alt="" />
        <div class="p-5">
          <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
            {{ game.game }}
          </h5>
          <div class="row flex">
            <p class="font-semibold text-gray-400">
              Plataforma: {{ game.platform | titlecase }}
            </p>
          </div>
          <div class="row flex">
            <p class="font-semibold text-gray-400">
              Começou: {{ game.startDate | date : "dd/MM/yyyy" }}
            </p>
          </div>
          <div class="row flex">
            <p class="font-semibold text-gray-400">
              Terminou: {{ game.endDate | date : "dd/MM/yyyy" }}
            </p>
          </div>
          <div class="row flex">
            <p class="font-semibold text-gray-400">
              Tempo de jogo: {{ game.playTime }}h
            </p>
          </div>
          <div class="row flex align-middle justify-center mt-2">
            <div class="row flex align-middle justify-center mt-2">
              <button type="button" id="edit" name="edit" class="bg-gray-400 mx-2 px-4 py-1 rounded-xl text-white hover:bg-cyan-500">Editar</button>
              <button type="button" id="delete" name="delete" class="bg-gray-400 mx-2 px-4 py-1 rounded-xl text-white hover:bg-cyan-500" (click)="deleteGame(game.id)">Excluir</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="w-1/4 hidden sm:block p-4 shadow-md border-s border-gray-600">
    <app-newgame></app-newgame>
  </div>
</div>
