<!DOCTYPE html>
<div class="flex">
  <!-- Lista de Jogos -->
  <div class="h-screen w-3/4 overflow-y-auto p-4">
    <div class="grid grid-cols-4 gap-4">
      <div
      *ngFor="let game of games"
        class="max-w-sm rounded-lg border border-gray-700 bg-gray-800 shadow"
        
      >
        <a href="#">
          <img class="rounded-t-lg" src="https://placehold.co/320x160" alt="" />
        </a>
        <div class="p-5">
          <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">
              {{ game.game }}
            </h5>
          </a>
          <div class="row flex">
            <p class="font-semibold text-gray-400">Plataforma:</p>
            <p class="font-normal text-gray-400 ms-5">{{game.platform | titlecase}}</p>
          </div>
          <div class="row flex">
            <p class="font-semibold text-gray-400">Começou:</p>
            <p class="font-normal text-gray-400 ms-5">{{game.startDate | date:'dd/MM/yyyy'}}</p>
          </div>
          <div class="row flex">
            <p class="font-semibold text-gray-400">Terminou:</p>
            <p class="font-normal text-gray-400 ms-5">{{game.endDate | date:'dd/MM/yyyy'}}</p>
          </div>
          <div class="row flex">
            <p class="font-semibold text-gray-400">Tempo de jogo:</p>
            <p class="font-normal text-gray-400 ms-5">{{game.playTime}}h</p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="w-1/4 p-4 shadow-md border-s border-gray-600">
    <app-newgame></app-newgame>
  </div>
</div>
